In [3]:
# getting details into dictionary
import sqlite3
conn = sqlite3.connect('present.db')
cur = conn.cursor()

sqlstr = 'SELECT emp_id, emp_name, emp_position, upper, lower FROM present'
details = {}
for row in cur.execute(sqlstr):
    emp_id = row[0]
    emp_name = row[1]
    emp_pos = row[2]
    if row[3] is not "NULL":
        upper = row[3].split(" ")
    if row[4] is not "NULL":
        lower = row[4].split(" ")
    details[emp_id]=[]
    details[emp_id].append(emp_name)
    details[emp_id].append(emp_pos)
    details[emp_id].append(upper)
    details[emp_id].append(lower)

cur.close()
print(details)

{'01': ['Ratan Tata', 'CEO', ['NULL'], ['02', '03']], '02': ['Ravi', 'Manager', ['01'], ['04']], '03': ['Cyrus Mistry', 'Manager', ['01'], ['05', '06', '']], '04': ['Kabir', 'Project Coordinator', ['02'], ['07']], '05': ['NULL', 'Project Coordinator', ['03'], ['08', '09']], '06': ['Aditi Sinha', 'Project Coordinator', ['03'], ['10']], '07': ['Prathmesh Tare', 'SDE', ['04'], ['NULL']], '08': ['Yash Kothari', 'SDE', ['05'], ['NULL']], '09': ['Chinmay Garg', 'SDE', ['05'], ['NULL']], '10': ['Parv Dani', 'SDE', ['06'], ['NULL']]}

In [2]:
# removing employees
def remove_emp(id):
    name = details[id][0]
    details[id][0] = "NULL"
    conn = sqlite3.connect('present.db')
    cur = conn.cursor()
    cur.execute('INSERT INTO past (id,name,position) VALUES (?,?,?)',(id,name,details[id][1],))
    #sqlstr = 'UPDATE present SET emp_name = "NULL" WHERE emp_id = {}'.format(id)
    cur.execute('UPDATE present SET emp_name = "NULL" WHERE emp_id = ?',(id,))
    conn.commit()
    cur.close()
rem = input("Enter the employee id to be removed :")
remove_emp(rem)

Enter the employee id to be removed :05

In [3]:
# finding adjacent senior
def adj_senior(id):
    senior = details[id][2][0]
    depth = 1
    while True:
        if details[senior][0]=="NULL":
            senior = details[senior][2][0]
            depth += 1
        else:
            return senior,depth
        
find = input("Enter the employee id to get the immediate senior : ")
print(adj_senior(find))

Enter the employee id to get the immediate senior : 09
('03', 2)

In [19]:
# finding the empty positions
def find_empty():
    count = 0
    for i in details:
        if details[i][0]=="NULL":
            count += 1
            print(i,details[i][1])
    print("Number of positions empty",count)
find_empty()

05 Project Coordinator
Number of positions empty 1

In [5]:
# adding new employee
def add_emp(id):
    if details[id][0] == "NULL":
        name = input("Input name : ")
        details[id][0] = name
        conn = sqlite3.connect('present.db')
        cur = conn.cursor()
        cur.execute('UPDATE present SET emp_name = ? WHERE emp_id = ?',(name,id,))
        conn.commit()
        cur.close()
    else:
        print("Position not empty!")
add = input("Enter the employee id where name to be added :")
add_emp(add)

Enter the employee id where name to be added :05
Input name : Himanshu

In [6]:
details

{'01': ['Ratan Tata', 'CEO', ['NULL'], ['02', '03']],
 '02': ['Ravi', 'Manager', ['01'], ['04']],
 '03': ['Aditi', 'Manager', ['01'], ['05', '06', '']],
 '04': ['Kabir', 'Project Coordinator', ['02'], ['07']],
 '05': ['Himanshu', 'Project Coordinator', ['03'], ['08', '09']],
 '06': ['Aditi Sinha', 'Project Coordinator', ['03'], ['10']],
 '07': ['Prathmesh Tare', 'SDE', ['04'], ['NULL']],
 '08': ['Yash Kothari', 'SDE', ['05'], ['NULL']],
 '09': ['Chinmay Garg', 'SDE', ['05'], ['NULL']],
 '10': ['Parv Dani', 'SDE', ['06'], ['NULL']]}

In [2]:
# add new person in an in-between level
def addNew():
    
    while True:
        id = input("Enter new id : ")
        if id not in details:
            break
        else:
            print("This id already exists.")
            
    name = input("Enter name : ")
    pos = input("Enter position : ")
    upper = input("Enter upper id : ")
    lower = input("Enter lower id : ")
    
    details[id]=[]
    details[id].append(name)
    details[id].append(pos)
    details[id].append(upper)
    details[id].append(lower)
        
    conn = sqlite3.connect('present.db')
    cur = conn.cursor()
    cur.execute('INSERT INTO present (emp_id, emp_name, emp_position, upper, lower) VALUES (?,?,?,?,?)',(id,name,pos,upper,lower,))
    
    # upper list of lower
    uLow = details[str(lower)][2]
    ul = ""   
    for x in uLow: 
        if x == upper:
            ul += id
        else:
            ul += x 
        ul += ' '
    # lower list of upper       
    lUp = details[str(upper)][3]
    lu = ""   
    for x in lUp: 
        if x == lower:
            lu += id
        else:
            lu += x 
        lu += ' '
        
    details[lower][2] = ul.split(" ")
    details[upper][3] = lu.split(" ")
    cur.execute('UPDATE present SET upper = ? where emp_id = ?',(ul,lower,))
    cur.execute('UPDATE present SET lower = ? where emp_id = ?',(lu,upper,))
    print(ul)
    conn.commit()
    cur.close()
    
addNew()

Enter new id : 11
Enter name : ad
Enter position : f
Enter upper id : 05
Enter lower id : 08
11

In [15]:
details

{'01': ['Ratan Tata', 'CEO', ['NULL'], ['02', '03']],
 '02': ['Ravi', 'Manager', ['01'], ['04']],
 '03': ['Cyrus Mistry', 'Manager', ['01'], ['05', '06', '']],
 '04': ['Kabir', 'Project Coordinator', ['02'], ['07']],
 '05': ['NULL', 'Project Coordinator', ['03'], ['08', '09']],
 '06': ['Aditi Sinha', 'Project Coordinator', ['03'], ['10']],
 '07': ['Prathmesh Tare', 'SDE', ['04'], ['NULL']],
 '08': ['Yash Kothari', 'SDE', ['05'], ['NULL']],
 '09': ['Chinmay Garg', 'SDE', ['05'], ['NULL']],
 '10': ['Parv Dani', 'SDE', ['06'], ['NULL']]}

In [20]:
# find depth from CEO
def depth(id):
    count = 0
    # details[id][2][0]
    while True:
        id = details[id][2][0]
        if id == 'NULL':
            break
        if details[id][0] != 'NULL':
            count += 1
    return count
    
id = input("Enter id : ")
print('Depth is',depth(id))

Enter id : 10
Depth is 3

In [17]:
details

{'01': ['Ratan Tata', 'CEO', ['NULL'], ['02', '03']],
 '02': ['Ravi', 'Manager', ['01'], ['04']],
 '03': ['Cyrus Mistry', 'Manager', ['01'], ['05', '06', '']],
 '04': ['Kabir', 'Project Coordinator', ['02'], ['07']],
 '05': ['NULL', 'Project Coordinator', ['03'], ['08', '09']],
 '06': ['Aditi Sinha', 'Project Coordinator', ['03'], ['10']],
 '07': ['Prathmesh Tare', 'SDE', ['04'], ['NULL']],
 '08': ['Yash Kothari', 'SDE', ['05'], ['NULL']],
 '09': ['Chinmay Garg', 'SDE', ['05'], ['NULL']],
 '10': ['Parv Dani', 'SDE', ['06'], ['NULL']]}

In [18]:
# difference depth
def diff(small,big):
    b = depth(big)
    s = depth(small)
    return s-b

small = input("Input smaller level id : ")
big = input("Input bigger level id : ")
print(diff(small,big))

Input smaller level id : 08
Input bigger level id : 03
1