In [8]:
#class Employee:
#    def __init__(self,name,responsibility, emp_id, upper, lower):
#        self.name = name
#        self.responsibility = responsibility
#        self.id = emp_id
#        self.lower = lower
#        self.upper = upper

In [18]:
#employee = list()
#length = int(input("Enter the number of employees you want to enter"))

#for i in range(length):
#    check = input("You want to exit, if yes type 'y'")
#    if check == "y":
#        break
#    else:
#        name = input("Enter the name")
#        responsibility = input("Enter the responsibility")
#        emp_id = input("Enter the Employee ID")
#        temp = Employee(name, responsibility, emp_id)
#        employee.append(temp)

#emp1 = Employee("Aditi", "CEO", "01")
#emp2 = Employee("Riya", "Manager", "02")
#emp3 = Employee("Akshay", "Manager", "03")
#emp4 = Employee("Kapil", "Project Coordinator", "04")
#emp5 = Employee("Tarun", "Project Coordinator", "05")
#emp6 = Employee("Dheeraj", "Project Coordinator", "06")
#emp7 = Employee("Somyadeep", "SDE", "07")
#emp8 = Employee("Ankit", "SDE", "08")
#emp9 = Employee("Sujeet", "SDE", "09")
#emp10 = Employee("Supreet", "SDE", "10")

In [3]:
import sqlite3
conn = sqlite3.connect('present.db')
cur = conn.cursor()

sqlstr = 'SELECT emp_id, emp_name, emp_position, upper, lower FROM present'
details = {}
for row in cur.execute(sqlstr):
    emp_id = row[0]
    emp_name = row[1]
    emp_pos = row[2]
    if row[3] is not "NULL":
        upper = row[3].split(" ")
    if row[4] is not "NULL":
        lower = row[4].split(" ")
    details[emp_id]=[]
    details[emp_id].append(emp_name)
    details[emp_id].append(emp_pos)
    details[emp_id].append(upper)
    details[emp_id].append(lower)

cur.close()
print(details)

{'01': ['Ratan Tata', 'CEO', ['NULL'], ['02', '03']], '02': ['Kartik Goenka', 'Manager', ['01'], ['04']], '03': ['Cyrus Mistry', 'Manager', ['01'], ['05', '06', '']], '04': ['Rishab Jain', 'Project Coordinator', ['02'], ['07']], '05': ['Swapnil Kothari', 'Project Coordinator', ['03'], ['08', '09']], '06': ['Aditi Sinha', 'Project Coordinator', ['03'], ['10']], '07': ['Prathmesh Tare', 'SDE', ['04'], ['NULL']], '08': ['Yash Kothari', 'SDE', ['05'], ['NULL']], '09': ['Chinmay Garg', 'SDE', ['05'], ['NULL']], '10': ['Parv Dani', 'SDE', ['06'], ['NULL']]}

In [4]:
#def print_details():

In [5]:
def remove_emp(id):
    name = details[id][0]
    details[id][0] = "NULL"
    conn = sqlite3.connect('present.db')
    cur = conn.cursor()
    cur.execute('INSERT INTO past (id,name,position) VALUES (?,?,?)',(id,name,details[id][1],))
    #sqlstr = 'UPDATE present SET emp_name = "NULL" WHERE emp_id = {}'.format(id)
    cur.execute('UPDATE present SET emp_name = "NULL" WHERE emp_id = ?',(id,))
    conn.commit()
    cur.close()
rem = input("Enter the employee id to be removed :")
remove_emp(rem)

Enter the employee id to be removed :02

In [22]:
details['01']

['NULL', 'CEO', ['NULL'], ['02', '03']]

In [31]:

for i in range(length):
    print(employee[i].name,employee[i].responsibility,employee[i].id)

A CEO 01
B Manager 02

In [11]:
def adj_senior(id):
    senior = details[id][2][0]
    depth = 1
    while True:
        if details[senior][0]=="NULL":
            senior = details[senior][2][0]
            depth += 1
        else:
            return senior,depth
        
find = input("Enter the employee id to get the immediate senior : ")
print(adj_senior(find))

Enter the employee id to get the immediate senior : 04
('01', 2)

In [20]:
def find_empty():
    count = 0
    for i in details:
        if details[i][0]=="NULL":
            count += 1
            print(i,details[i][1])
    print("Number of positions empty",count)
find_empty()

02 Manager
Number of positions empty 1

In [22]:
def add_emp(id):
    if details[id][0] == "NULL":
        name = input("Input name : ")
        conn = sqlite3.connect('present.db')
        cur = conn.cursor()
        cur.execute('UPDATE present SET emp_name = ? WHERE emp_id = ?',(name,id,))
        conn.commit()
        cur.close()
    else:
        print("Position not empty!")
add = input("Enter the employee id where name to be added :")
add_emp(add)

Enter the employee id where name to be added :02
Input name : Aditi

In [12]:
details

{'01': ['Ratan Tata', 'CEO', ['NULL'], ['02', '03']],
 '02': ['NULL', 'Manager', ['01'], ['04']],
 '03': ['Cyrus Mistry', 'Manager', ['01'], ['05', '06', '']],
 '04': ['Rishab Jain', 'Project Coordinator', ['02'], ['07']],
 '05': ['Swapnil Kothari', 'Project Coordinator', ['03'], ['08', '09']],
 '06': ['Aditi Sinha', 'Project Coordinator', ['03'], ['10']],
 '07': ['Prathmesh Tare', 'SDE', ['04'], ['NULL']],
 '08': ['Yash Kothari', 'SDE', ['05'], ['NULL']],
 '09': ['Chinmay Garg', 'SDE', ['05'], ['NULL']],
 '10': ['Parv Dani', 'SDE', ['06'], ['NULL']]}

In [ ]:
LEVEL_1 = {emp1.id : [[],[emp2.id,emp3.id]]}
LEVEL_2 = {emp2.id: [[emp1.id],[emp4.id]], emp3.id: [[emp1.id],[emp5.id,emp6.id]]}
LEVEL_3 = {emp4.id: [[emp2.id],[emp7.id]], emp5.id: [[emp3.id],[emp8.id]], emp6.id: [[emp3.id],[emp9.id,emp10.id]]}
LEVEL_4 = {emp7.id: [[emp4.id],[]], emp8.id: [[emp5.id],[]], emp9.id: [[emp6.id],[]], emp10.id: [[emp6.id],[]]}

In [ ]:
LEVEL_1
LEVEL_2["03"]